$primary: #222529;
$secondary: #0fc5b0;
$light-secondary: #c6e2df;
$main: #fff1e1;
$black: #333;
$white: #fff;
$light-white: #eee;
$gray: #777;
$border: 0.3rem solid $secondary;
$light-border: 0.1rem solid $secondary;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
