.courses {
  .courses-box-container {
    @include grid(30rem);

    .box {
      border: $border;
      border-radius: 2rem;
      &:hover .image img {
        transform: scale(1.3);
      }

      &.hide {
        display: none;
      }
      .image {
        background-color: $light-secondary;
        height: 25rem;
        overflow: hidden;
        position: relative;
        border-radius: 2rem 2rem 0 0;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }

        h3 {
          @include titleText(1.5rem);
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          padding: 0.5rem 1.3rem;
          background-color: $primary;
          color: $white;
        }
      }
      .content {
        padding: 2rem;
        text-align: center;

        h3 {
          @include titleText(2rem);
        }

        p {
          @include graphText(1.5rem);
          padding: 1rem 0;
        }

        .icons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 2rem;
          padding-top: 2rem;
          border-top: $border;

          span {
            @include titleText(1.5rem);

            i {
              color: $secondary;
              padding-right: 0.5rem;
            }
          }
        }
      }
    }
  }
  .load-more {
    margin-top: 2rem;
    text-align: center;
  }
}
